html, body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.random {
  --col-fg: #111111;
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: rgba(255,255,255,0.3);
  color: var(--col-fg);
  border: 0.125em solid var(--col-fg);
  padding: 0.5em 1em;
  box-shadow: 0 0 0.25em rgba(0,0,0,0.2);
}
.random:focus {
  --col-fg: #bb56d1;
  outline: none;
}